$font-size-map: (
  '10': 0.625rem,
  '11': 0.6875rem,
  '12': 0.75rem,
  '13': 0.8125rem,
  '14': 0.875rem,
  '15': 0.9375rem,
  '17': 1.0625rem,
  '16': 1rem,
  '19': 1.1875rem,
  '20': 1.25rem,
  '21': 1.3125rem,
  '22': 1.375rem,
  '23': 1.4375rem,
  '25': 1.575rem,
  '24': 1.5rem,
  '26': 1.625rem, 
  '27': 1.6875rem, 
  '30': 1.875rem,
  '32': 2rem,
  '35': 2.1875rem,  
  '37': 2.3125rem, 
  '40': 2.5rem, 
  '50': 3.125rem, 
);

@each $font-size-number, $font-size in $font-size-map {
  .t#{$font-size-number} {
    font-size: $font-size;
    line-height: $font-size + 0.25rem;
    font-weight: normal;
  }

  .ltf#{$font-size-number} {
    font-size: $font-size;
    font-weight: 300;
    line-height: $font-size + 0.25rem;
  }

  .h#{$font-size-number} {
    font-size: $font-size;
    font-weight: bold;
    line-height: $font-size + 0.25rem;
  }

}

